@charset "UTF-8";

:root {
    --orange-color: rgb(250, 103, 53);
    --lightblue-color: rgb(244, 250, 254);
    --darkblue-color: rgb(10, 37, 53);
    --mediumblue-color: rgb(50, 97, 125);
    --darkblue2-color: rgb(10, 37, 53);
}

header{
    background-color: rgb(29, 38, 58);
    text-align: center;
    padding: 20px;
}

header > a {
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.botaoacesseplataforma{
    background-color:rgb(250, 103, 53);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.imgmulhercomchave { /*Imagem da Mulher com chave */
    display: flex;

}





.titulovantagens { /*Titulo Vantagens*/
    display: flex;
    justify-content: center;
    margin: 40px;
} 

.vantagens { /*Configuração Geral dos campos de Vantagens*/
    padding: 30px;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 60px;
   justify-content: center;
}

.campovantagens { /*Configuração dos campos de Vantagens*/
    border: 2px solid rgba(0, 0, 0, 0.082);
    width: 450px;
    height: 400px;
    border-radius: 10px;
    padding: 15px;
}

.campovantagens > img { /*Configuração da imagem dos campo de Vantagens*/
    display: block;
    margin: auto;

}

.container {
    background-color: rgb(244, 250, 254);
}

.py-5  {
    background-color: rgb(244, 250, 254);
}

.cartao{
    height: 550px;
    font-size: 14px;
    background-color: rgb(244, 250, 254);
}



.card-body > h5  {
    margin-bottom: 20px;
}

.card-body > h6 {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.637);
}

.card-text {
    color: rgba(0, 0, 0, 0.637);
}

.card > img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}

.estrela {
    width: 120px;
    margin-top: 40px;
}

.tituloescolha{
    color: var(--orange-color);
}

.txtescolha{
    font-size: 13px;
    width: 400px;
}

.cardescolha{
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.vamosconversar{
    background-color: var(--darkblue2-color);
    display: flex;
    justify-content: end;
    width: 75%;
}

.cardconversar{
    font-size: 15px;
}

.balao{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: -250px;
}

.balao2{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.balao3{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.custom-bg{
    background-color: var(--darkblue-color);
}

.final{
    background-color: var(--darkblue-color);
}

.linkrodape{
    text-decoration: none;
    font-size: 12px;
    padding-left: 15px;
}

.contato{
    font-size: 12px;
    line-height: 40px;
}

@media (max-width: 767px){

    body,html{
        width: 480px;
        overflow-x: hidden;
    }
    .headernone{ 
        display: none;
    }

    .tabela {
        font-size: 11px;
        display: flex;
        flex-direction: column ;
    }

    .cursos{
        font-size: 19px;
        text-align: center;
    }

    .homo {
        margin: 200px
    }

    .titulovantagens {
        width: 500px;
    }

    .felicidadeblock{
        display: none;
    }
    .valeapenanone{
        display: none;
    }

    .lertodos{
        display: block;
        margin: auto;
    }
}
